
@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Prompt';	
}
.Arial{
	font-family:Arial, Helvetica, sans-serif;	}

.Circular{
	font-family: 'Circular';
	}

@font-face {
	font-family: 'Circular';
	src: url('../bootstrap3/fonts/Circular.eot');
	src: url('../bootstrap3/fonts/Circular.ttf') format('embedded-opentype'),
		url('../bootstrap3/fonts/Circular.woff') format('woff'),
		url('../bootstrap3/fonts/Circular.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'ThaiSans Neue';
	src: url('../font/ThaiSansNeue-Regular.eot');
	src: url('../font/ThaiSansNeue-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/ThaiSansNeue-Regular.woff') format('woff'),
		url('../font/ThaiSansNeue-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Prompt';
	src: url('Prompt-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
